html,
body {
  padding: 0;
  margin: 0;
  font-family: "fira code";
  max-width: 920px;
  background-color: #112233;
  color:white;
  margin:  40px auto;
  font-size: 18px;
}

img {
  max-width: 90%;

}
a {
  color:aqua
}
code{
  color:aquamarine
}

* {
  box-sizing: border-box;
}


.cards{
  display: grid;
  gap:2rem;
  grid-template-columns: 1fr;
}

@media screen and (min-width:500px){
  .cards{
    grid-template-columns: repeat(2,1fr);
  }
}

@media  screen and (min-width:700px) {
  .cards{
    grid-template-columns: repeat(3,1fr);
  }
}

/* @media  screen and (min-width:820px) {
  .cards{
    grid-template-columns: repeat(4,1fr);
  }
} */

.card{
  padding:20px;
  background-color: #193d5e;
  border-radius: 20px;
}

button{
  padding:7px 10px;
  border: none;
  outline: none;
  font-size: 18px;
  color:white;
  background-color:rgb(24 30 30);
  border-radius: 20px;
  cursor: pointer;
  transition: all .5s cubic-bezier(0.19, 1, 0.22, 1);
}
button:hover{
  background:rgb(49, 56, 56)
}